.nav
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.nav h1
{
    cursor: pointer;
    font-weight: bold;
    
}
.hide
{
    visibility: hidden;
}

.links
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links p
{
    margin: 0 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
}

.links p:hover .link
{
    color: #bda821 !important;
}

.link:hover
{
    color: #bda821 !important;
    transition: 0.3s;
}

.link
{
    text-decoration: none;
    color: black;
}
.fa-bars
{
    display: none;
    cursor: pointer;
    z-index: 1;
}

.side
{
    height: 100vh;
    width: 0%;
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.3s;
}
.fa-xmark
{
    position: absolute;
    top: 2%;
    right: 3%;
}
.open-side
{
    height: 100vh;
    width: 100%;
    visibility: visible;
    background-color: #f5df4e;
    transition: 0.4s;
}
.hidden
{
    display: none;
}

.nav-side
{
    margin-top: 70px;
    width: 100%;
}
.side-link
{
    display: block;
    padding: 0 50px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid white;
}
.side-link:first-child
{
    border-top: 1px solid white;
}
.side-link:hover
{
    background-color: #e7d249;
    transition: 0.3s;
}

@media (max-width: 1000px)
{
    .fa-bars
    {
        display: block !important;
    }
    .link
    {
        display: none;
    }

}