.resume
{
    width: 100%;
    height: 91.5vh;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-download,
.cv-img-content
{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-download
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cv-download a
{
    text-decoration: none;
    color: black;
    padding: 15px 60px;
    border-radius: 5px;
    background-color: #f5df4e;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.cv-download a:hover
{
    background-color: #cfba31;
    transition: 0.3s;
}
.cv-img-content
{
    background-color: #f5df4e;
}
.cv-img
{
    width: 350px;
}
.cv-img img
{
    width: 100%;
}

@media(max-width:1000px)
{
    .resume
    {
        flex-wrap: wrap;
    }
    .cv-download
    {
        width: 100%;
        height: 100px;
    }
    .cv-img-content
    {
        width: 100%;
    }
    .cv-img
    {
        width: 300px;
    }
}